<h1>You are here !</h1>
<h1>You are here !</h1>

<% @users.attendances.each do |attendance| %>
  
   <td><%= attendance.event.title%></td>
   <br/>
   <td><%= attendance.event.date%></td>

   <th>Previously attended events</th>
   <td><%= attendance.pasttitle %></td>
   <td><%= event.date %></td>
   <td><%= event.user.name %></td>
   <th>Upcoming events</th>

  <% end %>

  
  
  
  