<p id="notice"><%= notice %></p>

<h1>Attandances</h1>

<table>
  <thead>
    <tr>
      <th>Attendee</th>
      <th>Users</th>
      <th>Attended event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attandances.each do |attandance| %>
      <tr>
        <td><%= attandance.attendee_id %></td>
        <td><%= attandance.users %></td>
        <td><%= attandance.attended_event_id %></td>
        <td><%= link_to 'Show', attandance %></td>
        <td><%= link_to 'Edit', edit_attandance_path(attandance) %></td>
        <td><%= link_to 'Destroy', attandance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attandance', new_attandance_path %>
